<form>
  <p mat-dialog-title>Site password</p>
  <mat-dialog-content
    ><mat-form-field appearance="fill" hideRequiredMarker>
      <input
        #passwordField
        matInput
        type="text"
        autofocus
        [value]="data.password"
      /> </mat-form-field
  ></mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button type="button" (click)="close($event)">
      Close
    </button>
    <button
      mat-flat-button
      color="accent"
      type="submit"
      (click)="copyAndClose($event)"
    >
      Copy & Close
    </button>
  </mat-dialog-actions>
</form>
