mat-form-field {
  width: 100%;
}

mat-form-field input {
  font-family: 'Courier New', Courier, monospace;
}

mat-dialog-actions {
  text-align: center;
}

mat-dialog-actions button {
  width: 100%;
  margin-bottom: 1em;
}
