mat-form-field {
  width: 100%;
}

mat-form-field input {
  font-family: 'Courier New', Courier, monospace;
}

mat-dialog-actions {
  text-align: right;
}

mat-dialog-actions button {
  margin-bottom: 1em;
  flex-grow: 1;
}

mat-dialog-actions button[type='submit'] {
  flex-grow: 2;
}
