<form [formGroup]="passwordGeneratorForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-content>
      <p>
        <mat-form-field appearance="fill" hideRequiredMarker>
          <mat-label>Domain name</mat-label>
          <input
            matInput
            formControlName="domain"
            [matAutocomplete]="autoDomain"
            type="text"
            pattern=".+\..+"
            required
            autofocus
          />
          <mat-autocomplete
            #autoDomain="matAutocomplete"
            (optionSelected)="domainSelected($event)"
          >
            <mat-option
              *ngFor="let option of filteredDomains | async"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill" hideRequiredMarker>
          <mat-label>Master password</mat-label>
          <input
            #passwordField
            matInput
            formControlName="password"
            type="password"
            autocomplete="off"
            required
          />
        </mat-form-field>
      </p>

      <p>
        <mat-slide-toggle formControlName="useSpecialChars">
          With special chars
        </mat-slide-toggle>
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-flat-button color="accent" type="submit">
        Generate
      </button>
    </mat-card-actions>
  </mat-card>
</form>
