<form [formGroup]="passwordGeneratorForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-content>
      <p>
        <mat-form-field appearance="fill" hideRequiredMarker>
          <mat-label>Domain name</mat-label>
          <input
            matInput
            formControlName="domain"
            [matAutocomplete]="autoDomain"
            type="text"
            pattern=".+\..+"
            required
            autofocus
          />
          <mat-autocomplete #autoDomain="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredDomains | async"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill" hideRequiredMarker>
          <mat-label>Master password</mat-label>
          <input
            #passwordField
            matInput
            formControlName="password"
            type="password"
            autocomplete="off"
            required
          />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill" hideRequiredMarker>
          <mat-label>Password length</mat-label>
          <input
            matInput
            formControlName="passwordLength"
            type="number"
            autocomplete="off"
            min="4"
            max="256"
          />
        </mat-form-field>
      </p>
      <mat-grid-list cols="2" rowHeight="5.4em" gutterSize="0">
        <mat-grid-tile>
          <p>
            <mat-slide-toggle formControlName="useNumbers">
              Numbers
            </mat-slide-toggle>
          </p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Min. numbers</mat-label>
              <input
                matInput
                formControlName="minNumbers"
                type="number"
                autocomplete="off"
                min="1"
              />
            </mat-form-field>
          </p>
        </mat-grid-tile>

        <mat-grid-tile>
          <p>
            <mat-slide-toggle formControlName="useSpecialChars">
              Special chars
            </mat-slide-toggle>
          </p>
        </mat-grid-tile>

        <mat-grid-tile>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Min. special chars</mat-label>
              <input
                matInput
                formControlName="minSpecialChars"
                type="number"
                autocomplete="off"
                min="1"
              />
            </mat-form-field>
          </p>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>

    <mat-card-actions>
      <button mat-flat-button color="accent" type="submit">
        Generate
      </button>
    </mat-card-actions>
  </mat-card>
</form>
