<nav>
  <mat-toolbar color="primary">
    <span routerLink="/" class="mat-headline">{{ title }}</span>
    <mat-icon
      color="warn"
      [style.display]="legacyIconDisplay"
      class="legacyIcon"
      >looks_one</mat-icon
    >

    <span class="fill-remaining-space"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu
      #menu="matMenu"
      yPosition="above"
      xPosition="before"
      overlapTrigger="true"
    >
      <button mat-menu-item routerLink="options">
        <mat-icon>settings</mat-icon>
        <span>Options</span>
      </button>

      <button mat-menu-item (click)="toggleVersion($event)">
        <mat-icon>looks_one</mat-icon>
        <mat-slide-toggle
          labelPosition="before"
          [(ngModel)]="toggleVersionStatus"
          ><span class="matSlideToggleSpan"
            >Legacy version</span
          ></mat-slide-toggle
        >
      </button>

      <button mat-menu-item (click)="toggleTheme($event)">
        <mat-icon>invert_colors</mat-icon>
        <mat-slide-toggle labelPosition="before" [(ngModel)]="toggleThemeStatus"
          ><span class="matSlideToggleSpan">Dark theme</span></mat-slide-toggle
        >
      </button>

      <mat-divider></mat-divider>

      <button mat-menu-item (click)="gotoExtension($event)">
        <mat-icon>extension</mat-icon>
        <span class="externalLinkSpan">Get Extension</span>
        <mat-icon inline="true">launch</mat-icon>
      </button>

      <button mat-menu-item (click)="gotoHelp($event)">
        <mat-icon>help_outline</mat-icon>
        <span class="externalLinkSpan">Help</span>
        <mat-icon inline="true">launch</mat-icon>
      </button>
    </mat-menu>
  </mat-toolbar>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
