<mat-toolbar color="primary">
  <span>{{ title }}</span>
  <mat-icon color="warn" [style.display]="legacyIconDisplay" class="legacyIcon"
    >looks_one</mat-icon
  >

  <span class="fill-remaining-space"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu
    #menu="matMenu"
    yPosition="above"
    xPosition="before"
    overlapTrigger="true"
  >
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Options</span>
    </button>

    <button mat-menu-item (click)="toggleVersion($event)">
      <mat-icon>looks_one</mat-icon>
      <mat-slide-toggle labelPosition="before" [(ngModel)]="toggleVersionStatus"
        ><span class="matSlideToggleSpan"
          >Legacy version</span
        ></mat-slide-toggle
      >
    </button>

    <button mat-menu-item (click)="toggleTheme($event)">
      <mat-icon>invert_colors</mat-icon>
      <mat-slide-toggle labelPosition="before" [(ngModel)]="toggleThemeStatus"
        ><span class="matSlideToggleSpan">Dark theme</span></mat-slide-toggle
      >
    </button>
  </mat-menu>
</mat-toolbar>
