<form [formGroup]="optionsForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar class="header-icon">{{
        version == 1 ? "looks_one" : "looks_two"
      }}</mat-icon>
      <mat-card-title>Options</mat-card-title>
      <mat-card-subtitle
        >Changing any of these settings will also change all your previously
        generated passwords!</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <p>
        <mat-form-field appearance="fill" hideRequiredMarker="true">
          <mat-label>Salt</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            formControlName="salt"
            autocomplete="off"
            required
          ></textarea>
          <mat-hint
            >Random hex hash which will be used together with your master
            password.</mat-hint
          >
          <mat-error *ngIf="optionsForm.get('salt').invalid">{{
            getErrorMessageForField("salt")
          }}</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill" hideRequiredMarker="true">
          <mat-label>Iterations</mat-label>
          <input
            matInput
            formControlName="iterations"
            type="number"
            min="1"
            max="99999"
            autocomplete="off"
            required
          />
          <mat-hint
            >How many times the password will be randomized, a higher value
            means more CPU power is needed and thus will make brute-force
            attacks harder.</mat-hint
          >
          <mat-error *ngIf="optionsForm.get('iterations').invalid">{{
            getErrorMessageForField("iterations")
          }}</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill" hideRequiredMarker="true">
          <mat-label>Password length</mat-label>
          <input
            matInput
            formControlName="passwordLength"
            type="number"
            min="4"
            max="256"
            autocomplete="off"
            required
          />
          <mat-hint>The default length of the generated password.</mat-hint>
          <mat-error *ngIf="optionsForm.get('passwordLength').invalid">{{
            getErrorMessageForField("passwordLength")
          }}</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>My domains</mat-label>
          <input
            matInput
            formControlName="myDomains"
            type="text"
            autocomplete="off"
          />
          <mat-hint
            >Comma-separated list with domains that will be used as
            third-level-domains (e.g. server1.mydomain.com instead of just
            mydomain.com).</mat-hint
          >
          <mat-error *ngIf="optionsForm.get('myDomains').invalid">{{
            getErrorMessageForField("myDomains")
          }}</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill" hideRequiredMarker="true">
          <mat-label>Special Chars</mat-label>
          <input
            matInput
            formControlName="specialChars"
            type="text"
            autocomplete="off"
            required
          />
          <mat-hint>The allowed special chars.</mat-hint>
          <mat-error *ngIf="optionsForm.get('specialChars').invalid">{{
            getErrorMessageForField("specialChars")
          }}</mat-error>
        </mat-form-field>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button routerLink="/">
        Close
      </button>
      <button
        mat-flat-button
        color="accent"
        type="submit"
        [disabled]="!optionsForm.valid"
      >
        Save
      </button>
    </mat-card-actions>
  </mat-card>
</form>
