mat-form-field {
  width: 100%;
}

mat-card-content > p {
  margin-bottom: 3em;
}

mat-card-actions {
  display: flex;
  padding: 8px 0;
  margin: 2em 0;
}

mat-card-actions button {
  flex-grow: 1;
}

mat-card-actions button[type='submit'] {
  flex-grow: 2;
}
.header-icon {
  font-size: 48px;
  margin-top: -4px;
}
