// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// Color Tool: https://material.io/resources/color
$jspass-light-primary: mat-palette($mat-amber, A400, A200, A700);
$jspass-light-accent: mat-palette($mat-grey, 600, 200, 800);

// The warn palette is optional (defaults to red).
$jspass-light-warn: mat-palette($mat-deep-orange);

// Create the theme object (a Sass map containing all of the palettes).
$jspass-light-theme: mat-light-theme(
  $jspass-light-primary,
  $jspass-light-accent,
  $jspass-light-warn
);

.jspass-light-theme {
  @include angular-material-theme($jspass-light-theme);
}

$jspass-dark-primary: mat-palette($mat-grey, 800, 700, 900);
$jspass-dark-accent: mat-palette($mat-amber, A400, A200, A700);
$jspass-dark-warn: mat-palette($mat-deep-orange);
$jspass-dark-theme: mat-dark-theme(
  $jspass-dark-primary,
  $jspass-dark-accent,
  $jspass-dark-warn
);

.jspass-dark-theme {
  @include angular-material-theme($jspass-dark-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
